/* Agregar estilos al landing page */

body {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.block {
  margin: 0;
}

/* header styles */

#header,
#header-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-extra .box-text {
  width: 40vw;
  height: auto;
  margin-left: 7vw;
}

#header-extra .header-image {
  margin-right: 7vw;
}

.header-image img {
  width: 250px;
  border-radius: 8px;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

ul li {
  padding: 10px;
}

ul .links {
  text-decoration: none;
}

/* informative block */

.informative {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.informative .information-images {
  display: flex;
  gap: 40px;
}

.information-images img {
  width: 15vw;
  border-radius: 8px;
  box-shadow: 5px 3px lightgray;
}

/* quote section */

.quote-section {
  display: flex;
  justify-content: center;
}

.quote {
  width: 60vw;
}
