/* Agregar estilos al landing page */

body {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  width: auto;
  margin: 0;
  justify-content: center;
}

.block {
  margin: 0;
  padding: 5vh;
}

/* header styles */

#block1,
footer {
  background-color: #1f2937;
  color: #f9faf8;
}

#block1 {
  padding-top: 0;
}

#block3 {
  color: #1f2937;
  background-color: #e5e7eb;
}

p,
button {
  color: #f9faf8;
  border-radius: 4px;
}

button {
  border: 0.5px solid #f9faf8;
}

#header,
#header-extra {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#header-extra .box-text {
  width: 40vw;
  height: auto;
  margin-left: 7vw;
}

#header-extra .header-image {
  margin-right: 7vw;
}

.header-image img {
  width: 15vw;
  border-radius: 8px;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
}

ul li {
  padding: 10px;
}

ul .links {
  text-decoration: none;
  color: #e5e7eb;
}

/* informative block */

.informative {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.informative .information-header,
.information-images figcaption {
  color: #1f2937;
}

.informative .information-images {
  display: flex;
  gap: 40px;
}

.information-images figure {
  margin: 0;
}

.information-images img {
  width: 15vw;
  height: 15vw;
  border-radius: 8px;
  box-shadow: 5px 3px lightgray;
}

/* quote section */

.quote-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote {
  width: 60vw;
}

/* call to action message */

.call-to-action {
  display: flex;
  justify-content: center;
}

.call-to-action .action-message {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  border-radius: 8px;
}

.call-to-action .left-side {
  width: 40vw;
}

.call-to-action button {
  margin-right: 2vw;
}

.call-to-action .action-message,
button {
  background-color: #3883f6;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
